.slider {
    width: 100vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}



@keyframes move  {
    0% { transform: translateX(0); }
    100% { transform: translateX(100%); }
    
  }

  .slide {
    animation:  move  10s linear infinite;
    margin: 10px;
    
    
  }