.slider {
  width: 100vw;
  height: 250px;
  margin: auto;
  overflow: hidden;
  padding-top: 30px;
}

.sli {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 200rem;
  animation: move 40s linear infinite;
}
.slider .slide {
  width: 200px;
}
.slide {
  margin: 15px;
  width: 15%;
  height: 100%;
  min-width: 50px;
  overflow: hidden;
  display: inline-block;
}

.image {
  outline-offset: 8px;
  width: 100%;
  height: 100%;
  margin: auto;
  min-width: 50px;
  object-fit: contain;
  aspect-ratio: 3/2;
}

@media (min-width: 768px) {
  .image {
    width: auto;
    height: auto;
  }
}
@keyframes move {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-200px * 10)); /* reset to the beginning */
  }
}
