
.slider {
    width: 100vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    
}

@keyframes move  {
    0% { transform: translateX(0); }
    100% { transform: translateX(100%); }
    
  }

  .slide {
    animation:  move  10s linear infinite;
    margin: 10px;
    width: 80%; 
    height: 100%;
    min-width: 50px; 
    overflow: hidden;
  }

  .image {
    outline-offset: 8px;
    width: 100px;
    height: 100%;
    margin: auto;
    min-width: 50px;
    object-fit: cover;
  }

  @media(min-width: 768px) {
    .image {
      width: auto;
      height: auto;
    }
 
}
  