.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding-bottom: 50px;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in-out 0.5s;
  }
  
  .card:hover {
    transform: scale(1.04);
  }

  .containerImage {
    height: 100%;
    min-width: 150px;
    background-color:  rgb(52, 102, 139);
    display: flex;
    justify-content: center;
  }
  
  .imagePropias {
    width: 100px;
    min-width: 50px;
    height: 100%;
    
  }
  

  .containerInfo {
    padding: 0 1em;
    height: auto;
    justify-content: space-between;
    color: #323232;
  }

  .containerTitles {
    width: 100%;
    font-size: clamp(0.9rem, 0.8084rem + 0.4885vw, 1.3rem);
    font-weight: bold;
    margin-bottom: 0;
    padding: 2rem 0 0.6rem 1rem;
    color: #323232;
  }

  .containerParagraph {
    font-size: 14px;
    padding: 1rem 1rem;
  }

  .containerButton {
    padding-top: 20px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }

  

  @media screen and (max-width: 600px) {
    .card {
      margin: 0 2rem;
      flex-direction: column;
    }
    .containerTitles {
        text-align: center;
        padding-left: 0;
      }
    
      .containerParagraph {
        text-align: center;
      }
   
   }
  
  @media screen and (max-width: 480px) {
    .card {
      width: 280px;
    }
    .containerParagraph {
        text-align: left !important;
        padding: 1rem 0rem;
      }
  
   }
  

  
  