.card {
  position: relative;
  max-width: 450px;
  height: 300px;
  display: none;
  flex-direction: row;
  width: 45%;
  margin: 20px 5px;
  border-radius: 1rem;
  outline-offset: 8px;
  box-shadow: 20px 25px 50px -12px rgba(0, 0, 0, 0.25);
  background-color: white;
  color: #323232;
}

.card .imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(52, 102, 139);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  border-radius: 1rem;
}

.imgTitle {
  position: absolute;
  top: 30px;
  font-weight: bold;
  font-size: large;
  animation-duration: 0.8s;
  animation-name: DNone;
}

@keyframes DNone {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.1;
  }
  70% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.card:hover .imgBox {
  width: 150px;
  height: 150px;
  left: -45px;
  top: calc(50% - 75px);
  transition: 0.5s ease-in-out;
}

.card:hover .imgTitle {
  display: none;
}

.card .imgBox img {
  max-width: 150px;
  transition: 0.5s ease-in-out;
}
.card:hover .imgBox img {
  max-width: 100px;
}

.card .content {
  position: relative;
  right: 0;
  padding: 20px 20px 10px 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  position: relative;
  padding-left: 20px;
}

.card .content h2 {
  font-size: 20px;
}

@media (min-width: 1024px) {
  .card {
    display: flex;
  }
}
